asyncpg==0.17.*
aiodns==1.*
aiohttp==3.*
cchardet==2.*
Django==2.*
fuzzywuzzy>=0.16.0,<=0.18.0
psycopg2==2.*
python-Levenshtein==0.12.*
PyYAML==3.*
humanize==0.5.*
git+git://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
